body {
	background-image: url(../img/bg-white.jpg);
	background-color: #fff;
    font: 100% helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {            
    margin: 40px auto;
    width: 800px;    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header {
    border-bottom: 1px solid black;            
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 0 10px;
}

h1 {            
    color: #111;
    float: left;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0;
}

h2 {
    color: #777;
    float: right;
    font-size: 11px;
    font-weight: normal;
    margin: 20px 0 0 0;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

a:hover {
    color: #555;
}

#divMap {
	margin: 0 auto;
	border: 2px solid black; 
	width: 70%; 
	height: 600px; 
	position: relative;
	z-index: 10;
}

.olButton {
	display: block;
	background: #333;
    background-image: -o-linear-gradient(bottom, #222222 0%, #555555 100%);
    background-image: -moz-linear-gradient(bottom, #222222 0%, #555555 100%);
    background-image: -webkit-linear-gradient(bottom, #222222 0%, #555555 100%);
    background-image: -ms-linear-gradient(bottom, #222222 0%, #555555 100%);    
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #222222),color-stop(1, #555555));    
    background-image: linear-gradient(bottom, #222222 0%, #555555 100%);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: -5px;
}

.olButton:hover {
    background: #333;
    border-left-color: #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    -webkit-box-shadow: inset 0 0 10px #111;
    -moz-box-shadow: inset 0 0 10px #111;
    box-shadow: inset 0 0 10px #111;	
}

#advert {
	display: none;
	margin: 0 auto;
	border: 5px solid red; 
	width: 500px; 
	height: 500px; 
	position: relative;
	line-height: 500px;
	z-index: 10;	
}

#advert h1 {
	margin-left: 71px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px;
	background-color: black;
	opacity: 0.7;
	color: #eee;
	text-align: center;
}

